* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 1.8rem "DM Sans", sans-serif;
  color: var(--text-color);

  background-color: var(--body-color);
}

h1 {
  font: 700 3rem "Poppins", sans-serif;
  color: var(--title-color);
}

.container {
  width: 90%;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 3.2rem;
}
