/*************************************/
/* VARIABLES */
:root {
  font-size: 62.5%;

  --hue: 159;

  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
}
/*************************************/

/*******************************/
/* HEADER */
/*******************************/
.main-header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 3.2rem;
}

.header-navigation {
  height: 7.2rem;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.header-logo:link,
.header-logo:visited {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--title-color);
  text-decoration: none;
}

.header-logo span {
  color: var(--base-color);
}

/*******************************/
/* HERO */
/*******************************/

.hero-img {
  width: 100%;
  height: auto;
}
