@import url(general.css);
@import url(queries.css);

/*============================================= */
/*=== HEADER ================================== */
/*============================================= */

.header {
  width: 100%;
  height: 4.8rem;
  padding: 1.2rem 1.8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: all 0.3sec;
}

.logo:link,
.logo:visited {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
}

.logo span {
  color: var(--base-color);
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.986);
  z-index: 99;
  height: 4.8rem;
  padding-top: 0;
  padding-bottom: 0;

  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 4.8rem;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

/*============================================= */
/*============================================= */
/*============================================= */

/*============================================= */
/*=== NAVIGATION ============================== */
/*============================================= */

.main-nav {
  background-color: rgba(255, 255, 255, 0.95);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  transform: translateY(-100%);

  transition: all 0.3s ease-in;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.btn-nav {
  border: none;
  background: none;
  cursor: pointer;
  z-index: 999;

  padding: 0.2rem;
  height: 2.2rem;
  width: 2.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.bar {
  background-color: var(--base-color);
  height: 0.2rem;
  width: 100%;
  border-radius: 9px;

  transition: all 0.3s;
}

.open .bar-1 {
  opacity: 0;
}

.open .bar-2 {
  transform: rotate(495deg);
}

.open .bar-3 {
  transform: translate(0, -5px) rotate(-495deg);
}

.open .main-nav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0%);
}

.main-nav-list {
  text-align: center;

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s;
  position: relative;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 2.4rem;

  transition: all 0.3s;
}

.nav-link {
  position: relative;
}

.nav-link:hover {
  color: var(--base-color);
}

.nav-link::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1rem;

  transition: all 0.2s;
}

.nav-link:hover::after {
  width: 100%;
}

/*============================================= */
/*============================================= */
/*============================================= */

/*============================================= */
/*=== HERO SECTION ============================ */
/*============================================= */

.section-hero {
  padding-bottom: 3.2rem;
}

.image-box-hero {
  margin-top: 4.8rem;
  margin-bottom: 2.4rem;
  position: relative;
  z-index: -999;
}

.image-box-hero::before {
  content: "";
  background: var(--base-color);
  height: 70%;
  width: 50%;
  top: -13%;
  right: 3%;
  z-index: -999;
  border-radius: 9px;
  position: absolute;
}

.image-box-hero::after {
  content: "";
  background: var(--base-color-alt);
  height: 70%;
  width: 50%;
  bottom: -13%;
  left: 3%;
  z-index: -999;
  border-radius: 9px;
  position: absolute;
}

.hero-img {
  border-radius: 9px;
  width: 80%;
  height: auto;
  align-self: start;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.hero-text .heading-primary {
  padding-top: 1.8rem;
  margin-bottom: 0;
}

.hero-description {
  font-size: 1.6rem;
}

.btn-hero-box.center-flex {
  gap: 2rem;
}

.hero-divider {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

/*============================================= */
/*============================================= */
/*============================================= */

/*============================================= */
/*=== ABOUT SECTION =========================== */
/*============================================= */
.about-img {
  width: 90%;
  border-radius: 9px;
}

.grid-about {
  row-gap: 1.6rem;
}

.about-span {
  color: var(--base-color);
  font-weight: 600;
}

.about-em {
  font-size: 1.2rem;
  color: #6f6f6f;
  font-weight: 400;
}

/*============================================= */
/*============================================= */
/*============================================= */

/*============================================= */
/*=== SERCICES SECTION ======================== */
/*============================================= */

.section-services .heading-tertiary {
  margin-bottom: 0;
}

.services-cards {
  row-gap: 5.2rem;
}

.services-card {
  gap: 1.2rem;
  padding: 1.2rem;
  border-radius: 9px;

  transition: all 0.5s;
}

.services-card:hover {
  transform: translate(0, -5%);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
}

.icon-services {
  color: #f2f2f2;
  height: 2.4rem;
  width: 2.4rem;
  padding: 1.2rem;
  background-color: var(--base-color);
  border-radius: 50%;
  margin-bottom: 2rem;
}

/*============================================= */
/*============================================= */
/*============================================= */

/*============================================= */
/*=== TESTIMONIALS SECTION ==================== */
/*============================================= */

.testimonial {
  padding: 2.4rem;
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.09);
  transition: all 0.3s;
}

.testimonial-img {
  width: 5.2rem;
  height: auto;
  border-radius: 50%;

  margin-bottom: 2rem;
}

.testimonial blockquote p {
  margin-bottom: 1.2rem;
}

.testimonial blockquote p span {
  font-size: 2.4rem;
  font-weight: 700;
  font-family: serif;
  color: var(--base-color);
}

.testimonial:hover {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.13);
}

.testimonials-link:link,
.testimonials-link:visited {
  font-size: 1.8rem;
  justify-self: center;
  transition: all 0.3s;
  padding: 0.4rem;
  border-bottom: 1px solid var(--base-color);
}

.testimonials-link:hover,
.testimonials-link:active {
  border-bottom: 1px solid transparent;
}

/*============================================= */
/*============================================= */
/*============================================= */

/*============================================= */
/*=== FOOTER ================================== */
/*============================================= */

.footer {
  height: 9.6rem;
  width: 100%;
  background-color: var(--base-color);
  position: relative;
}

.copyright {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  color: #f2f2f2;

  position: absolute;
  bottom: 10px;
  right: 50%;
  transform: translate(50%);
}
